body {
  margin: 0;
  background: #DDEBF7;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
}

.fb-container {
  display: flex;
}

.actions {
  margin-left: 20px;
  display: flex;
}

header {
  background: #425A70;
  text-align: center;
}

.car-cards ul,
.car ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.car-notes__single {
  position: relative;
}

.car-notes__single .actions {
  position: absolute;
  top: 20px;
  right: 20px;
}
